<div class="container" id="i18_projects">
  <div class="row m-b-lg">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>
        <span data-i18n="projects.my_projects">Open Source Projects</span>
      </h1>
    </div>
  </div>
  <div class="projects-grid">
    {% for project in site.data.index.projects %}
    <article class="project-card wow {% cycle 'fadeInLeft', 'fadeInRight' %}">
      <div class="team-member">
        {% if project.img %}
        <img
          src="{{ '/static/assets/img/projects/' | prepend: site.baseurl }}{{ project.img }}"
          class="img-responsive img-circle img-small"
          alt="{{ project.name }}"
          loading="lazy"
        />
        {% endif %}
        <h4>
          {% if project.url %}
          <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer"
            ><span class="navy">{{ project.name }}</span></a
          >
          {% elsif project.repo %}
          <a
            href="https://github.com/{{ project.gh_user }}/{{ project.repo }}"
            target="_blank"
            rel="noopener noreferrer"
            ><span class="navy">{{ project.name }}</span></a
          >
          {% else %}
          <span class="navy">{{ project.name }}</span>
          {% endif %}
        </h4>
        <div class="project-desc">
          <span data-i18n="projects.{{ project.i18n }}"
            >{{ project.desc | markdownify }}</span
          >
        </div>
        {% if project.repo %}
        <div
          user="{{ project.gh_user }}"
          repo="{{ project.repo }}"
          class="ghbtn"
        >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/stargazers"
            class="btn btn-white btn-xs star"
            ><i class="fa fa-star"></i> …</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network"
            class="btn btn-white btn-xs fork"
            ><i class="fa fa-code-fork"></i> …</a
          >
        </div>
        {% endif %}
      </div>
    </article>
    {% endfor %}
  </div>
</div>
