<div class="container" id="i18_timeline">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="timeline.my_timeline">Timeline of Events</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
            {% for timeline in site.data.index.timeline %}
            {% assign loopindex = forloop.index | modulo: 2 %}
                <div class="vertical-timeline-block">
                    <br/>
                    <div class="vertical-timeline-icon {% if timeline.latest ==  true %} navy-bg-present {% else %} navy-bg {% endif %} wow rotateIn">
                        <i class="fa {{ timeline.icon }}"></i>
                    </div>
                    <br/>
                    <a href={{timeline.link}}>
                    <div class="vertical-timeline-block wow {% if loopindex == 1 %} rotateInUpRight {% else %} rotateInUpLeft {% endif %}">
                        <span class="vertical-date">{{ timeline.date}}
                            <h2><span> {{ timeline.title}}</span></h2>
                            <img width=100% height=80% src= "{{ '/static/assets/img/timeline/' | prepend: site.baseurl}}{{timeline.img}}" />
                        </span>
                        <p><bold>{{ timeline.description | markdownify}}</bold></p>
                        {% if timeline.link %} <small> Click to Read More...</small> {% endif %}
                    </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
