{% comment %}
  Include for inline citations with tooltips
  Usage: {% include citation.html ref_id="reference_id" num="citation_number" %}
{% endcomment %}
<a href="#ref-{{ include.ref_id }}" class="citation-ref" id="cite-{{ include.ref_id }}">
  <sup>[{{ include.num }}]</sup>
  <span class="citation-popup">
    {% assign ref = page.references | where: "id", include.ref_id | first %}
    {% if ref %}
    <span class="citation-title">{{ ref.title }}</span>
    <span class="citation-authors">{{ ref.authors }}</span>
    <span class="citation-source">{{ ref.journal }}{% if ref.year %}, {{ ref.year }}{% endif %}</span>
    {% if ref.doi %}
    <a href="https://doi.org/{{ ref.doi }}" class="citation-link" target="_blank">doi:{{ ref.doi }}</a>
    {% endif %}
    {% if ref.url %}
    <a href="{{ ref.url }}" class="citation-link" target="_blank">{{ ref.url }}</a>
    {% endif %}
    {% endif %}
  </span>
</a>
