---
layout: blog
title: Blog
permalink: /blog/
---

{% include sidebar.html %}
<div class="blog-listing">
  <div class="blog-listing-header text-center">
    <div class="navy-line"></div>
    <h1>Latest Blog Posts</h1>
  </div>

  <div class="blog-grid">
    {% for post in site.posts %}
    <article class="blog-card">
      <a
        href="{{ post.url | prepend: site.baseurl }}"
        class="blog-card-link"
      >
        <div class="blog-card-media">
          {% if post.thumbnail %}
          <img
            class="blog-card-img"
            src="{{ post.thumbnail | prepend: site.baseurl }}"
            alt="{{ post.title }}"
            loading="lazy"
          />
          {% else %}
          <div class="blog-card-fallback" aria-hidden="true">
            <span>{{ post.title | truncate: 1, "" }}</span>
          </div>
          {% endif %}
        </div>
        <div class="blog-card-body">
          <h2 class="blog-card-title">{{ post.title }}</h2>
          <div class="blog-card-meta">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            <time datetime="{{ post.date | date_to_xmlschema }}"
              >{{ post.date | date: "%B %d, %Y" }}</time
            >
            {% if site.disqus %}
            <span class="blog-card-comments">
              <i class="fa fa-comments" aria-hidden="true"></i>
              Comments (<span
                class="disqus-comment-count"
                data-disqus-url="{{ post.url | prepend: site.url }}"
                >0</span
              >)
            </span>
            {% endif %}
          </div>
          {% if post.desc %}
          <p class="blog-card-text">{{ post.desc | truncate: 220 }}</p>
          {% endif %}
          <span class="blog-card-more">Read More</span>
        </div>
      </a>
    </article>
    {% endfor %}
  </div>
</div>
