---
layout: default
---

{% include sidebar.html %}
<div class="wrapper wrapper-content animated fadeInRight article">
  <div class="row">
    <div class="col-lg-9 col-lg-offset-1">
      <div class="ibox">
        <div class="ibox-content">
          <div class="pull-right">
            {% for category in page.categories %}
            <a
              class="btn btn-white btn-xs"
              href="{{ category | downcase | prepend: '/' | prepend: site.baseurl }}"
              >{{ category }}</a
            >
            {% endfor %}
          </div>
          <div class="text-center article-title">
            <span class="text-muted"
              ><i class="fa fa-clock-o"></i> {{ page.date | date: "%-d %b %Y"
              }}</span
            >
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.toc %}
          <aside
            class="sidebar__right {% if page.toc_sticky %}sticky{% endif %}"
          >
            <nav class="toc">
              <header>
                <h4 class="nav__title">
                  <i
                    class="fa fa-{{ page.toc_icon | default: 'bookmark' }}"
                  ></i>
                  {{ page.toc_label | default:
                  site.data.ui-text[site.locale].toc_label | default: "Contents"
                  }}
                </h4>
              </header>
              {% include toc.html sanitize=true html=content h_min=1 h_max=4
              class="toc__menu" skip_no_ids=true %}
            </nav>
          </aside>
          {% endif %} {{ content }}
          <hr />
          
          {% if page.figshare_id %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>Research Data</h3>
                    <p>The following research data is associated with this publication:</p>
                    {% include figshare.html id=page.figshare_id type=page.figshare_type doi=page.figshare_doi %}
                </div>
            </div>
          {% endif %}
            
          {% if page.academic_post %}
          <!-- Share section -->
          {% include share.html %}
          
          <!-- Citation Widget -->
          <div class="citation-box">
            <h4>Cite this article</h4>
            <div class="citation-formats">
              <button onclick="showCitation('ieee')" class="active">IEEE</button>
              <button onclick="showCitation('apa')">APA</button>
              <button onclick="showCitation('mla')">MLA</button>
              <button onclick="showCitation('bibtex')">BibTeX</button>
            </div>
            
            <div id="citation-ieee" class="citation-text">
              {% assign author_names = page.author | default: site.author.name | split: " " %}
              {% assign last_name = author_names.last %}
              {% assign first_names = "" %}
              {% for name in author_names %}
                {% unless forloop.last %}
                  {% assign first_char = name | slice: 0 %}
                  {% assign first_names = first_names | append: first_char | append: ". " %}
                {% endunless %}
              {% endfor %}
              {{ last_name }}, {{ first_names }}"{{ page.title }}," <i>{{ site.title }}</i>, {{ page.date | date: "%d %b %Y" }}. [Online]. Available: {{ site.url }}{{ page.url }}
              <button id="copy-ieee" onclick="copyCitation('ieee')" class="citation-copy-btn">Copy</button>
            </div>
            
            <div id="citation-apa" class="citation-text" style="display: none;">
              {{ site.author.name }}. ({{ page.date | date: "%Y, %B %d" }}). {{ page.title }}. Retrieved from {{ site.url }}{{ page.url }}
              <button id="copy-apa" onclick="copyCitation('apa')" class="citation-copy-btn">Copy</button>
            </div>
            
            <div id="citation-mla" class="citation-text" style="display: none;">
              {{ site.author.name }}. "{{ page.title }}." {{ site.title }}, {{ page.date | date: "%-d %b. %Y" }}, {{ site.url }}{{ page.url }}.
              <button id="copy-mla" onclick="copyCitation('mla')" class="citation-copy-btn">Copy</button>
            </div>
            
            <div id="citation-bibtex" class="citation-text" style="display: none;">
              @article{ {{page.identifier}},
                author = { {{site.author.name}} },
                title = { {{ page.title }} },
                journal = { {{ site.title }} },
                year = { {{ page.date | date: "%Y" }} },
                month = { {{ page.date | date: "%m" }} },
                url = { {{ site.url }}{{ page.url }} }
              }
              <button id="copy-bibtex" onclick="copyCitation('bibtex')" class="citation-copy-btn">Copy</button>
            </div>
          </div>
          
          {% if page.academic_post %}
          <!-- Include references section -->
          {% include references.html %}
          {% endif %}
          {% endif %}
          
          <div class="row">
            <div class="col-md-6">
              <h5 style="display: inline">Tags:</h5>
              {% for tag in page.tags %}
              <button class="btn btn-white btn-xs" type="button">
                {{ tag }}
              </button>
              {% endfor %}
            </div>
            <div class="col-md-6">
              <div class="small text-right">
                <div>
                  {% if site.disqus %}
                  <i class="fa fa-comments-o"> </i>
                  <span
                    class="disqus-comment-count"
                    data-disqus-url="{{ site.url }}{{ page.url }}"
                    >0</span
                  >
                  comments {% endif %}
                </div>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-lg-12">
              <!-- donate -->
              {% if site.donation %} {% include donate.html %} {% endif %}
              <br />
              <!-- related posts -->
              {% include related_posts.html %}
              <!-- comment -->
              {% include comments.html %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
